#logo {
    color: #E50914;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.nav-cadastrar {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    padding-top: 20px;
}

